
<main>
    <h2>Extrai Dados</h2>
    <div class="MainField">
      <div class="InputField">
        <input type="file" name="" id="">
      </div>
      <div class="CamposField">
        <input type="text" id="nome"/>
        <label for="nome" class="nome">Nome</label>
        <div class="underline Nome"></div>
        <input type="text" id="cpf"/>
        <label for="cpf" class="cpf">CPF</label>
        <div class="underline Cpf"></div>
        <input type="text" id="rg"/>
        <label for="rg" class="rg">RG</label>
        <div class="underline Rg"></div>
      </div>
    </div>
  </main>