@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0 10vw 0 10vw;
}

main {
  margin-top: 8vh;
  justify-content: center;
  gap: 4vw;
  display: flex;
  flex-wrap: wrap;
}

.enviados {
  width: 20vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1rem;
  font-size: 1.2rem;
  border-radius: 60px;
  background: #ffffff;
  box-shadow: 20px 20px 77px #d9d9d9, -20px -20px 77px #ffffff;
}

.extraidos {
  width: 20vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1rem;
  font-size: 1.2rem;
  border-radius: 60px;
  background: #ffffff;
  box-shadow: 20px 20px 77px #d9d9d9, -20px -20px 77px #ffffff;
}

.nLidos {
    width: 20vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1rem;
    font-size: 1.2rem;
    border-radius: 60px;
    background: #ffffff;
    box-shadow: 20px 20px 77px #d9d9d9, -20px -20px 77px #ffffff;
  }

  .graph{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120%;
  }

  .graphBtn{
    margin-top: 1rem;
    height: 3rem;
    background: #1C1A1C;
    border-radius: 3rem;
    color: #AAAAAA;
  }