@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  font-family: "Jost", sans-serif;
}

main{
  margin-top: 8vh;
  gap: 4vw;
  display: flex;
  justify-content: center;
  width: 100vw;
}

div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
  width: 40vw;
  border-radius: 60px;
  background: #ffffff;
  box-shadow:  20px 20px 77px #d9d9d9,
  -20px -20px 77px #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-content: center;
  max-width: 40vw;
  font-size: 2rem;
}

form input{
width: 20vw;
  border-radius: 5px;
  padding-bottom: 1rem;
}

h1{
  font-size: 3rem;
  margin-bottom: 4rem;
}

