@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

header {
  display: flex;
  height: 8vh;
  align-items: center;
  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 10vw;
}

.Menu span {
  padding-left: 2vw;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h2 {
  margin-top: 5vh;
  font-size: 2rem;
}

.MainField {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.MainField .InputField {
  display: flex;
  background-color: beige;
  align-items: end;
  width: 20vw;
  height: 50vh;
}

.MainField .InputField input{
    position: relative;
    top: 6vh;
}

.MainField .CamposField {
  display: flex;
  flex-direction: column;
}

.MainField .CamposField input {
  width: 20vw;
  margin-left: 3vw;
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

label {
  position: relative;
  top: -4vh;
  color: #ccc;
  transition: all 0.3s ease;
  margin-left: 3vw;
  pointer-events: none;
}

#nome:focus ~ .nome {
  position: relative;
  top: -8vh;
  font-size: 16px;
  color: #333;
}

#cpf:focus ~ .cpf {
  position: relative;
  top: -8vh;
  font-size: 16px;
  color: #333;
}
#rg:focus ~ .rg {
  position: relative;
  top: -8vh;
  font-size: 16px;
  color: #333;
}

#nome:focus ~ .Nome {
  transform: scaleX(1);
}

#cpf:focus ~ .Cpf {
  transform: scaleX(1);
}

#rg:focus ~ .Rg {
  transform: scaleX(1);
}

.underline {
  position: relative;
  top: -3.5vh;
  height: 2px;
  width: 100%;
  margin-left: 3vw;
  background-color: #333;
  transform: scaleX(0);
  transition: all 0.3s ease;
}
